@model ContactModel
@{
    ViewData["Title"] = "Message Us";
}


<div class="header-image-1">
    <div class="container">
        <header>
            <nav class="justify-content-end navbar mb-3">
                <div class="container-fluid" style="justify-content: end;">
                    <a class="nav-link sans" style="color: #FFFFFF; margin-top:20px; margin-right: 30px;" href="https://swcdynamics.com/">Home</a>
                </div>
            </nav>
        </header>
        <div class="text-center">
            <h1 class="sans" style="color: #ffffff; font-size:70px; margin-bottom: 30px; margin-top: 65px; letter-spacing: -3px;">Contact Us</h1>
        </div>
    </div>
</div>
<div class="container cont-width" style="background: #ffffff; justify-content: start; display:block">
    <form action="/Contact" method="post">
    <div class="text-center">
        <h2 class="forum" style="font-size: 50px; margin-bottom: 15px;">Message Me</h2>
        <label for="Name"></label>
        <input id="Name" name="Name" class="my-input" placeholder="Your Name" type="text" />
        <br />
        <label for="Email"></label>
        <input id="Email" name="Email" class="my-input" placeholder="Your Email" type="text" />
        <br />
        <label for="Message"></label>
        <textarea id="Message" name="Message" class="my-input" placeholder="Message" style="height: 136px; resize: none;"></textarea>
    </div>
    <div style="display: flex; justify-content: start;">
        <button class="my-button" type="submit" value="Send Message">Send Message</button>
    </div>
        </form>
</div>
